.checkout-page {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 100%;
  /* align-items: center; */
}
.delivery,
.payment {
  border: 2px rgb(12, 230, 84) solid;
}

.checkout-title,
.shopping-title {
  background: cornflowerblue;
  color: black;
}

.left-side {
  flex: 5;
}
.right-side {
  flex: 2;
}

/* shopping details */

.shopping {
  margin-left: 50px;
  width: 100%;
  height: 400px;
  background: #0ce653;
}
.shopping-details-card {
  background: #0ce653;
}

.email-confirmation {
  display: flex;
  gap: 3px;
}
