.checkout-page {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 100%;
  /* align-items: center; */
}
.delivery,
.payment {
  border: 2px rgb(12, 230, 84) solid;
}

/* .fa-home, .fa-money-check-alt, .fa-shopping-cart {
  color: #0ce653;
} */
.payment {
  margin-top: 1rem;
}

.checkout-title,
.shopping-title {
  background: cornflowerblue;
  color: black;
}

.left-side {
  flex: 5;
}
.right-side {
  flex: 2;
}

.customer-info {
  display: flex;
  /* justify-content: space-between; */
}
.first-name {
  margin-right: 1rem;
}

.phone-field {
  width: 26.9rem;
}
/* shopping details */

.shopping {
  margin-left: 50px;
  width: 100%;
  height: 400px;
  background: #0ce653;
}
.shopping-details-card {
  background: #0ce653;
}

.email-confirmation {
  display: flex;
  gap: 3px;
}

.order-submit-button {
  width: 100%;
  margin-top: 3px;
  margin-left: 50px;
  padding: 10px;
  background: #008a00;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bolder;
}
