.navbar {
  background-color: #0065e4;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
}

.navbar-brand {
  color: aliceblue;
}

.search-btn {
  background-color: aliceblue;
  color: #0065e4;
}

.dropdown-menu {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

#searchbar {
  width: 300px;
}

.main {
  margin-bottom: 150px;
}
.productRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageSection {
  width: 900px;
  height: 700px;
  border: 2px solid rgba(189, 188, 192, 0.5);
}
.productMainImage {
  width: 650px;
  height: 600px;
}

.productThumbnail {
  display: flex;
  text-decoration: none;
}
.productThumbnail ul {
  list-style: none;
  margin: 20px;
}

.productThumbnail img {
  width: 75px;
  height: 60px;
  border: orchid solid;
  cursor: pointer;
}
.productPrice h3 {
  color: #008a00;
}
.addToCartSection {
  width: 650px;
  height: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.addToCartButton {
  padding: 10px;
  background-color: #008a00;
  color: whitesmoke;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
  height: 50px;
  font-size: larger;
  font-weight: bold;
}
.buyNowButton {
  padding: 10px;
  background-color: #0365e4;
  color: whitesmoke;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: larger;
  font-weight: bold;
}

.productDescription {
  margin: 20px;
}

.footer {
  /* height: 80px; */
  background-color: #0365e4;
  color: whitesmoke;
  bottom: 0;
  /* position: fixed; */
  width: 100vw;
}

.layout-main {
  min-height: 80vh;
}

#setProductQuantity {
  width: 60px;
  height: 35px;
}

.product-buttons {
  display: flex;
  flex-direction: row;
}

.selectQuantity {
  display: flex;
  flex-direction: row;
}

.cartTable {
  width: 900px;
}
.cartTable td {
  text-align: center;
  vertical-align: middle;
}

.cartTable h5 {
  text-align: end;
}
#cartTableThumbnail {
  text-align: left;
  width: 60px;
}

.cartTablePlusButton {
  background: white;
  height: 30px;
  width: 30px;
  border: 1px #0065e4 solid;
  cursor: pointer;
}

.cartTableQty {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cartPageMain {
  display: flex;
}

.goToCheckOutDiv {
  width: 350px;
  height: 350px;
  /* background-color: rgb(241, 232, 232); */
  margin-left: 50px;
  border-radius: 5px;
  border: 2px #0365e4 solid;
}

.goToCheckOutDivBody {
  min-height: 297px;
}

#onItemRemove {
  cursor: pointer;
  color: blue;
}

.proceedCheckOutDiv {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.proceedToCheckOutButton {
  padding: 10px;
  background-color: #0365e4;
  color: whitesmoke;
  border-radius: 20px;
  height: 50px;
  font-size: larger;
  font-weight: bold;
}

.signup-form {
  width: 700px;
}

.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-card {
  width: 500px;
}
